/*===================== 	Premery bg color =====================*/
/* Hex */
#loading-area,
.bg-primary,
.dlab-separator.style-skew[class*="style-"]:after,
.dlab-separator.style-skew[class*="style-"]:before,
.dlab-title-inner.skew-title:after,
.widget-title:after,
.btn,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.site-filters .active>[class*="btn"],
.list-num-count>li:before,
.owl-num-count .owl-dots .owl-dot:hover span.date-style-4 .post-date strong,
.date-style-3 .post-date,
.date-style-2 .post-date,
#myNavbar li.active a,
.skew-angle:after,
.dlab-project-left:after,
.about-us .dlab-tabs .nav-tabs li a.active,
.testimonial-text.bg-primary,
.sidenav ul li a:hover,
.owl-theme.dots-style-2 .owl-dots .owl-dot.active span,
.owl-btn-1.primary .owl-prev,
.owl-btn-1.primary .owl-next,
.owl-btn-2.primary .owl-prev,
.owl-btn-2.primary .owl-next,
.product-item-size .btn.active,
.owl-theme.dots-style-3 .owl-dots .owl-dot.active span,
.owl-theme.dots-style-3 .owl-dots .owl-dot:hover span,
.owl-item.active.center .testimonial-text,
.owl-item.active.center .testimonial-3,
.icon-bx-wraper.hover:hover,
.dlab-box-bg.active .icon-box-btn .btn,
.dlab-accordion.primary .acod-head a,
.side-bar .widget_tag_cloud a:hover,
.tabs-btn .nav-tabs li a.active:focus,
.tabs-btn .nav-tabs li a.active:hover,
.tabs-btn .nav-tabs li a.active,
.tp-caption.rev-btn.tc-btnshadow.tp-rs-menulink,
.la-anim-10,
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover,
.owl-theme .owl-dots .owl-dot.active span,
.footer-social li a:hover,
.header-transparent .is-fixed .main-bar,
.header-nav .nav>li .sub-menu li a:after {
    background-color: #fb6262;
}

/* Hex color hover */
.btn:active,
.btn:hover,
.btn:focus,
.active>.btn,
.bg-primary-dark,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.sidenav .closebtn:hover,
.sidenav .closebtn:focus,
.owl-btn-1.primary .owl-prev:hover,
.owl-btn-1.primary .owl-next:hover,
.owl-btn-2.primary .owl-prev:hover,
.owl-btn-2.primary .owl-next:hover,
.overlay-primary-light:after,
.overlay-primary-middle:after,
.overlay-primary-dark:after,
.overlay-primary:after {
    background-color: #ea4a4a;
}

.about-us .dlab-tabs .nav-tabs li a.active {
    border-right: 4px solid #ea4a4a;
}

/* Rgba color */
.dlab-info-has.bg-primary,
.dlab-info-has.bg-secondry:hover,
.tp-bannertimer.tp-bottom,
.popup-youtube.style2 {
    background-color: #fb6262b3;
}

.port-style2 .dlab-box .overlay-icon,
.port-style3 .dlab-box .overlay-icon {
    background-color: rgba(141, 85, 253, 0.5);
}

.port-style2 .dlab-box .overlay-icon.overlay-gradient {
    background: rgb(141, 85, 252);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(141, 85, 252, 0.6) 0%, rgba(253, 198, 199, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(141, 85, 252, 0.6) 0%, rgba(253, 198, 199, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(141, 85, 252, 0.6) 0%, rgba(253, 198, 199, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d55fc', endColorstr='#fdc6c7', GradientType=1);
    /* IE6-9 */
}

/* Box Shadow */
.side-bar .widget_tag_cloud a:hover {
    box-shadow: 5px 5px 10px 0 rgba(108, 192, 0, 0.15);
}

.port-style3 .dlab-box:hover .port-link {
    box-shadow: 0 0 0 10px rgba(254, 47, 89, 0.4);
}

/*===================== 	Premery text color =====================*/
a,
.testimonial-position,
.text-primary,
.primary li:before,
.breadcrumb-row ul li a,
.header-nav .nav>li.active>a,
.header-nav .nav>li.current-menu-item>a .header-nav .nav>li .sub-menu li a:hover,
.header-nav .nav>li:hover>a,
.header-nav .nav>li .mega-menu>li ul a:hover,
.header-nav .nav>li .sub-menu li:hover>a,
.nav-dark.header-nav .nav>li .sub-menu li:hover>a,
.nav-dark.header-nav .nav>li .mega-menu>li ul a:hover,
blockquote:before,
ol.comment-list li.comment .reply a,
footer a:active,
footer a:focus,
footer a:hover,
footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a,
footer p a,
button.scroltop,
.testimonial-4 .testimonial-name:after,
.testimonial-2 .testimonial-position,
.testimonial-3 .testimonial-position,
.testimonial-3 .quote-left:before,
.acod-head a:after,
.acod-head a,
.acod-head a:hover,
.acod-head a.collapsed:hover,
.dlab-tabs .nav-tabs>li>a i,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.btn.outline,
.btn-link:hover,
.item-info-in ul li a:hover,
.dlab-post-meta.text-primary i,
.dlab-post-meta.text-primary ul li,
.dlab-post-meta.text-primary ul li a,
.comments-area p:before,
.dlab-box-bg .icon-box-btn .btn,
.list-2 li:hover:before,
.site-footer .widget_services ul li a:hover,
.lg-outer .lg-toogle-thumb,
.lg-outer .lg-toogle-thumb:hover,
.site-filters.filters-style1 [class*="btn"]:hover a,
.site-filters.filters-style1 [class*="btn"].active a,
.owl-num-count .owl-dots .owl-dot:before,
.btn-gray,
.blog-post.blog-grid .dlab-post-meta li.post-date,
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.widget.recent-posts-entry .widget-post .post-title a:hover,
.site-footer.style4 .recent-posts-entry .widget-post .dlab-post-meta li {
    color: #fb6262;
}

@media only screen and (max-width: 991px) {

    .nav-dark.header-nav .nav>li>a:hover,
    .nav-dark.header-nav .nav>li>a:active,
    .nav-dark.header-nav .nav>li>a:focus {
        color: #ed5ab0;
    }
}

.text-secondry {
    color: #282828;
}

/*===================== 	Premery border color =====================*/
.navbar-toggle,
.testimonial-4 .testimonial-pic,
.testimonial-4:after,
.testimonial-4 [class*="quote-"],
button.scroltop,
blockquote,
.widget_gallery li:hover,
.owl-slider-banner .owl-theme .owl-dots .owl-dot.active,
.owl-slider-banner .owl-theme .owl-dots .owl-dot:hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
input[type="checkbox"]:checked+label:before,
input[type="checkbox"]+label:hover:before,
input[type="radio"]+label:hover:before,
.owl-theme.dots-style-3 .owl-dots .owl-dot.active,
.owl-theme.dots-style-3 .owl-dots .owl-dot:hover,
.side-bar .widget_tag_cloud a:hover,
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #8d55fd;
}

.owl-item.active.center .testimonial-8 .testimonial-text:after {
    border-top: 15px solid #8d55fd;
}

.dlab-tabs.border-top .nav-tabs>li>a.active {
    border-top-color: #8d55fd;
}

/*===================== 	Secondery bg color =====================*/
.bg-secondry,
.pagination-bx .pagination li.active a,
.pagination-bx .pagination li a:hover {
    background-color: #fd799e;
}

/* Multiple background color */
.btn-gray {
    background-color: #ffe8e8;
}

.bg-skyblue {
    background-color: #90fbe8;
}

.bg-purple {
    background-color: #bb8de4;
}

/* Overlay Color */
.overlay-blue:after {
    background-color: #8d55fd;
}

.overlay-red:after {
    background-color: #fc555b;
}

.overlay-green:after {
    background-color: #26d580;
}

.overlay-orange:after {
    background-color: #f8a96e;
}

.overlay-skyblue:after {
    background-color: #40d7d4;
}

.overlay-purple:after {
    background-color: #ae76de;
}

.dlab-img-overlay1.primary:before,
.dlab-img-overlay1.primary:after,
.dlab-img-overlay2.primary:before,
.dlab-img-overlay2.primary:after,
.dlab-img-overlay3.primary:before,
.dlab-img-overlay3.primary:after,
.dlab-img-overlay4.primary:before,
.dlab-img-overlay4.primary:after,
.dlab-img-overlay5.primary:before,
.dlab-img-overlay5.primary:after,
.dlab-img-overlay6.primary:before,
.dlab-img-overlay6.primary:after,
.dlab-img-overlay7.primary:before,
.dlab-img-overlay7.primary:after,
.dlab-img-overlay8.primary:before,
.dlab-img-overlay8.primary:after,
.dlab-img-overlay9.primary:before,
.dlab-img-overlay9.primary:after,
.dlab-img-overlay11.primary:before,
.dlab-img-overlay11.primary:after,
.dlab-img-overlay12.primary:before,
.dlab-img-overlay12.primary:after {
    /*background: #8d55fd;*/
    background: #3a3838;
}

/* Icon color */
.icon-blue,
.icon-blue .icon-cell {
    background-color: #eadfff;
    color: #8d55fd;
}

.icon-pink,
.icon-pink .icon-cell {
    background-color: #ffdfea;
    color: #ff7ba8;
}

.icon-orange,
.icon-orange .icon-cell {
    background-color: #fef3e2;
    color: #f8a96e;
}

.icon-green,
.icon-green .icon-cell {
    background-color: #dffff3;
    color: #81d9b8;
}

.icon-yellow,
.icon-yellow .icon-cell {
    background-color: #f1fff5;
    color: #7afda9;
}

/* Gradient Color */
.about-service-area1 .bg-color1 {
    background: rgb(251, 98, 98);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(251, 98, 98, 1) 0%, rgba(255, 172, 172, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(251, 98, 98, 1) 0%, rgba(255, 172, 172, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(251, 98, 98, 1) 0%, rgba(255, 172, 172, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3874f', endColorstr='#f2c871', GradientType=1);
    /* IE6-9 */
}

.about-service-area1 .bg-color2 {
    background: rgb(29, 194, 222);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(29, 194, 222, 1) 0%, rgba(10, 228, 200, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(29, 194, 222, 1) 0%, rgba(10, 228, 200, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(29, 194, 222, 1) 0%, rgba(10, 228, 200, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1dc2de', endColorstr='#0ae4c8', GradientType=1);
    /* IE6-9 */
}

.about-service-area1 .bg-color3,
.about-service-area2 .bg-color1 {
    background: rgb(141, 85, 252);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(141, 85, 252, 1) 0%, rgba(253, 192, 215, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(141, 85, 252, 1) 0%, rgba(253, 192, 215, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(141, 85, 252, 1) 0%, rgba(253, 192, 215, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d55fc', endColorstr='#fdc0d7', GradientType=1);
    /* IE6-9 */
}

.about-service-area2 .bg-color2 {
    background: rgb(253, 81, 182);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(253, 81, 182, 1) 0%, rgba(254, 187, 212, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(253, 81, 182, 1) 0%, rgba(254, 187, 212, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(253, 81, 182, 1) 0%, rgba(254, 187, 212, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd51b6', endColorstr='#febbd4', GradientType=1);
    /* IE6-9 */
}

.about-service-area2 .bg-color3 {
    background: rgb(255, 109, 139);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 109, 139, 1) 0%, rgba(253, 184, 198, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 109, 139, 1) 0%, rgba(253, 184, 198, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 109, 139, 1) 0%, rgba(253, 184, 198, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d8b', endColorstr='#fdb8c6', GradientType=1);
    /* IE6-9 */
}

.about-service-area2 .bg-color4 {
    background: rgb(55, 187, 183);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(55, 187, 183, 1) 0%, rgba(190, 255, 243, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(55, 187, 183, 1) 0%, rgba(190, 255, 243, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(55, 187, 183, 1) 0%, rgba(190, 255, 243, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37bbb7', endColorstr='#befff3', GradientType=1);
    /* IE6-9 */
}

.about-img2:after {
    background: rgb(141, 85, 252);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(141, 85, 252, 1) 0%, rgba(190, 255, 243, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(141, 85, 252, 1) 0%, rgba(190, 255, 243, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(141, 85, 252, 1) 0%, rgba(190, 255, 243, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d55fc', endColorstr='#befff3', GradientType=1);
    /* IE6-9 */
}